<div class="hero mb-5">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 align-content-center">
                <div class="index-btn">
                    <h1>{{appTitle}}</h1>
                    <h3>Un manual para su uso terapéutico</h3>
                    <a class="btn btn-dark btn-sm" href="/register">Register</a>
                    <a class="btn btn-light btn-sm" href="/login">Log in</a>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>