<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 align-content-center">
                <div class="index-btn">
                    <h1 class="indexHeaders">{{appTitle}}</h1>
                    <h3>Un manual para su uso terapéutico</h3>
                    <h4>Vuestro viaje es nuestro destino</h4>
                    {{#if isLoggedOut}}
                    <a class="buttonGreen" href="/register">Register</a>
                    <a class="buttonBlue" href="/login">Log in</a>
                    {{/if}}
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
<footer>For therapeutic use only</footer>