<div class="hero">
    <div class="container">
        <div class="row">

            <div class="col-12 align-content-center">
                <div class="indexHeaders">
                    <h1>{{appTitle}}</h1>
                    <h2>Your trip is our destination</h2>
                    <h4>A manual for therapeutic use</h4>
                    <div class="indexButtons">
                        {{#if isLoggedOut}}
                        <a class="buttonGreen" href="/register">Register</a>
                        <a class="buttonBlue" href="/login">Log in</a>
                        {{/if}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer>For educational purposes only</footer>