<div class="plantForm">
    <div class="container">

        <h1>Event Map</h1>

        <div id="myMap"></div>

        <a href="/" class="btn btn-dark">Return</a>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/maps/places-map.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc-8ywmreBzApoPQCrMpozmd3JTJEpfyA&callback=init"></script>