<div class="container">
    <h1>The Plants</h1>
    {{#each plants}}
    {{cName}}
    <a href="/plants/{{id}}" class="btn btn-warning btn-sm">Details</a>
    <a href="/plants/{{id}}/edit" class="btn btn-warning btn-sm">Edit</a>
    <a href="/plants/{{id}}/delete" class="btn btn-warning btn-sm">Delete</a>
    {{/each}}
</div>