body {
  /* background-image: url('./../images/fractals.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  width: 100%;
  height: auto;
}

footer {
  color: white;
  font-size: .9em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  height: 60px;
}

.navbar form button {
  background: transparent;
  border: none;
}

.productImg {
  background-size: cover;
  object-fit: cover;
  align-self: center;
  height: 200px;
}

.hero {
  background-image: url('./../images/fractals.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.index-btn {
  color: white;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.lay-footer {
  color: white;
}


#myMap {
  height: 500px;

}

#error {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  font-weight: 800;
  margin-top: 20px;
}


/*/////////////////////////PLANT STYLES/////////////////////////////////////////////////*/

#listTitle {
  font-weight: 550;
  margin-top: 20px;
  text-align: center;
  font-size: 60px;
  font-family: monospace;
}

.headerForm {
  font-size: 40px;
  margin: 20px;
  text-align: center;
  font-family: monospace;
  font-weight: 600;
}

.plantForm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/green-leaf-texture-leaf-texture-background.jpg);
  background-size: cover;
  padding: 50px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

/*/////////////////////////EVENT STYLES/////////////////////////////////////////////////*/

.eventForm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/geometry.jpg);
  background-size: cover;
  padding: 50px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

/*/////////////////////////USER STYLES/////////////////////////////////////////////////*/

.userForm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/metatron.jpg);
  background-size: cover;
  padding: 50px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.userList {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/metatron.jpg);
  background-size: cover;
  height: 100vh;
  padding: 50px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.plantCard {
  width: 18rem;
  background-color: transparent;

}

.ourNav {
  background-color: rgb(7, 49, 27) !important
}