body {
  /* background-image: url('./../images/fractals.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  width: 100%;
  height: auto;
}

footer {
  font-size: .9em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar form button {
  background: transparent;
  border: none;
}

.hero {
  background-image: url('./../images/fractals.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.index-btn {
  color: white;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.lay-footer {
  color: white;
}

#myMap {
  height: 500px;

}

#error {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  font-weight: 800;
  margin-top: 20px;
}


/*/////////////////////////PLANT STYLES/////////////////////////////////////////////////*/

#plantTitle {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
}